/*HEADER*/ 

body, html{
	margin: 0;
	height: 100%;
}

.conteudo {
	color: #777;
	background-color: white;
	text-align: justify;
	padding: 50px 80px;
}

header li {
	padding-right: 20px;
}

header ul li a {
	color: white;
}

/*Efeito Parallax
*******************/ 
.img-parallax {
	height: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover; /*preenche todo o espaço*/
	background-position: center;
	background-attachment: fixed;
}

.img-parallax {
	background-image: url(../img/fundo.jpg);
}

.conteudo-titulo {
	position: absolute;
	left: 0;
	top: 70%;
	width: 100%;
	text-align: center;
}

.conteudo-titulo span.titulo {
	color: #000;
	background-color: #000;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 5px;
	text-transform: uppercase;
}

/*HOME*/

.espacamento {
	padding: 20px;
}
.espacamento container {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

section img {
	border-radius: 50px 50px;
}

section h3 {
	padding-bottom: 10px;
}

#motorista {
	background: #F2F2F2;
}


/*RODAPÉ*/

footer {
	background: #000;
	padding: 50px 0px 20px 0;
}

footer h4 {
	color: white;
	text-transform: uppercase;
}

footer .navbar-nav a {
	color: #E6E6E6;
	font-size: 0.8em;
	text-decoration: none;
}

footer .navbar-nav a:hover {
	color: #1C1C1C;
}

footer ul {
	list-style: none;

}

footer ul li {
	padding-bottom: 20px;
}

footer img {
	width: 200px;
	height: 50px;
}

.redes-sociais {
	padding: 10px;
	font-size: 2em;
	color: #fff;
}